.button {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: var(--c-grey);
    color: var(--c-text);
    border-radius: 50px;
    text-align: center;
    font-size: 14px;
    border: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    transition: .2s;
    color: var(--c-black);
    background-color: var(--c-white);
}

.answer {
    width: 100%;
    background-color: green;
}

.answer:hover {
    transition: .2s;
    color: var(--c-white);
    background-color: var(--c-orange);
}

.button.-success {
    background-color: var(--c-success);
    color: var(--c-white);
}

.button.-success:hover {
    background-color: var(--c-success-hover);
}